<h2>Announcements</h2>
<%= form_tag "#", id: "announce", class: "form-horizontal" do %>
  <div class="form-group">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
        <%= text_field_tag :announcement, "", id: "announcement", class: "form-control", placeholder: "An unanticipated line for the Computer" %>
      </div>
      <small id="prev-announcement" class="help-block">&hellip;</small>
    </div>
  </div>
<% end %>

<h2>Generic lines</h2>
<div class="row">
  <% @generic_lines.each do |line| %>
    <%= render partial: "voice_lines/button", locals: { line: line } %>
  <% end %>
</div>

<% if @mission_lines.any? %>
  <h2>Mission-specific</h2>
  <div class="row">
    <% @mission_lines.each do |line| %>
      <%= render partial: "voice_lines/button", locals: { line: line } %>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $('a.line').on('click',function(e){
    var btn = $(this);
    e.preventDefault();
    if(btn.attr("disabled") == undefined){
      btn.attr("disabled",true);
      var line_id = $(this).attr('data-line-id');
      $.ajax({
        url: "<%= say_voice_lines_path %>",
        method: "get",
        data: { l: line_id },
        complete: function(){ btn.removeAttr("disabled"); }
      });
    }
  });
  
  $('#announce').on('submit',function(e){
    e.preventDefault();
    var message = $('#announcement').val();
    if(message != ""){
      $.ajax({
        url: "<%= say_voice_lines_path %>",
        method: "get",
        data: { m: message }
      });
      $('#prev-announcement').html(message);
      $('#announcement').val("");
    }
  });

  $('#announcement').on('keyup',function(e){
    var ths = this, $ths = $(this)
    if(e.which == 38){
      prev = $('#prev-announcement').html();
      $ths.val(prev);
      l = $ths.val().length * 2;
      ths.setSelectionRange(l,l);
    }
  });
</script>
