<h2>Announcements</h2>
<%= form_tag "#", id: "announce", class: "form-horizontal" do %>
  <div class="form-group">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-bullhorn"></i></span>
        <%= text_field_tag :announcement, "", id: "announcement", class: "form-control", placeholder: "An unanticipated line for the Computer" %>
      </div>
      <small id="prev-announcement" class="help-block">&hellip;</small>
    </div>
  </div>
<% end %>

<h2>Generic</h2>
<div class="row">
  <% @generic_lines.each do |line| %>
    <%= render partial: "voice_lines/button", locals: { line: line } %>
  <% end %>
</div>

<% if @mission_lines.any? %>
  <h2>Mission <%= @mission_id %></h2>
  <div class="row">
    <% @mission_lines.each do |line| %>
      <%= render partial: "voice_lines/button", locals: { line: line } %>
    <% end %>
  </div>
<% end %>

