<!DOCTYPE html>
<html>
  <head>
    <title>Paranoia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render partial: "shared/header" %>
    <div class="container">
      <%= render partial: "shared/flashes" %>
      <%= yield %>
    </div>


    <script type="text/javascript">
(function() {

  $(function() {
    $('#play-btn').click(function() {
      var options;
      console.log('Speech started');
      options = {
        amplitude: 100,
        wordgap: 0,
        pitch: 50,
        speed: 175
      };
      speak.play(textarea.value, options, function() {
        return console.log('Speech finished');
      });
      return false;
    });
    $('#pause-btn').click(function() {
      speak.pause();
      console.log('Speech paused');
      return false;
    });
    return $('#resume-btn').click(function() {
      speak.resume();
      console.log('Speech resumed');
      return false;
    });
  });

}).call(this);
    </script>
    <%= javascript_include_tag 'speak/speakClient' %>
  </body>
</html>
