<!DOCTYPE html>
<html>
  <head>
    <title>Paranoia</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">
      var speak_worker_path = '<%= javascript_path('speak/speakWorker') %>';
      var speak_generator_path = '<%= javascript_path('speak/speakGenerator') %>';
    </script>
    <%= javascript_include_tag 'speak/speakClient' %>
  </head>

  <body>
    <%= render partial: "shared/header" %>
    <div class="container">
      <%= render partial: "shared/flashes" %>
      <%= yield %>
    </div>

    <div id="audio"></div>
    <script type="text/javascript">
      // Play a pre-set line
      $('a.line').on('click',function(e){
        var btn = $(this);
        e.preventDefault();
        if(btn.attr("disabled") == undefined){
          var line_id = $(this).attr('data-line-id');
          $.ajax({
            url: "<%= say_voice_lines_path %>",
            method: "get",
            data: { l: line_id },
            success: function(d,s,x){
              computer_speak(d);
            },
            complete: function(){ btn.removeAttr("disabled"); }
          });
        }
      });
      
      // Play an announcement line
      $('#announce').on('submit',function(e){
        e.preventDefault();
        var message = $('#announcement').val();
        if(message != ""){
          computer_speak(message);
          $('#prev-announcement').html(message);
          $('#announcement').val("");
        }
      });
    
      // Up-arrow reuses previous announcement
      $('#announcement').on('keyup',function(e){
        var ths = this, $ths = $(this)
        if(e.which == 38){
          prev = $('#prev-announcement').html();
          $ths.val(prev);
          l = $ths.val().length * 2;
          ths.setSelectionRange(l,l);
        }
      });
      
      // General-purpose function for consistent options
      var computer_speak = function(line){
        speak.play(line,{
          speed: 160,
          pitch: (Math.ceil(Math.random() * 20) + 50) // vary pitch
        });
      }
    </script>
  </body>
</html>
